@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');




* {
    box-sizing: border-box;
}

body {
    background-color: #faf4e9;
}

#content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
}

.headers {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    justify-content: space-between;
    color: #d4a246;
    user-select: none;
    padding-bottom: 0.6rem;
}

.headers .active {
    color: #553a07;
}

h1:nth-child(2) {
    justify-self: center;
}

h1:nth-child(3) {
    justify-self: end;
}

.triangle {
    --triangle-size: 15px;
    width: 0;
    height: 0;
    border-left: var(--triangle-size) solid transparent;
    border-right: var(--triangle-size) solid transparent;
    border-bottom: var(--triangle-size) solid #d08b0d;
    position: relative;
    top: -45px;
}

.triangle-right {
    left: 99%
}

.triangle-center {
    left: 48%;
}

.triangle-left {
    left: -2%;
}


#content {
    font-family: Sintony, sans-serif;
}


.main-text {
    line-height: 1.2rem;
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    background-color: #d08b0d;
    padding: 2rem;
}

p {
    margin-top: 0;
}

.logo {
    width: 250px;
    padding-bottom: 2rem;
    align-self: center;
}

.Media {
    display: flex;
    align-items: flex-start;
  }
  
  .Media-figure {
    margin-right: 1em;
    max-width: 33%;
  }
  
  .Media-body {
    flex: 1;
  }


/* menu */

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu img {
    width: 100%;
    max-height: 200px;
    padding-bottom: 1em;
}

.dish {
    padding: 1rem;
    transition: 250ms;
}
.dish:hover {
    background-color: #d4a246;
}

.menu .name {
    font-weight: 900;
    font-size: 1.2rem;
    padding-bottom: 0.5em;
}

.menu .description {
    text-align: left;
    font-size: 1rem;
}

.menu .price {
    color: #553a07;
    font-weight: bold;
}

/* hours */

.hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-size: 1rem;
}

.day-name {
    font-weight: bold;
    font-size: 1.1rem;
}

.day-hours {

}